body{
    text-align:center;
    background-image: url("../img/numbers_bg.jpg");
    background-size: cover;
}

header{
    color:white;
    background-color:rgba(100,100,100,.8);
    padding:20px;
    margin-bottom:15px;
}

#main {
    background-color:rgba(200,200,200,.8);
    font-size: 1.5rem;    
    padding: 20px;
}

#feedback {
    padding: 30px;
    background-color: lightyellow;
    margin: 10px;
    font-weight:bold;
}
